<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="machines"
             type="SkyNet20.Configuration.SkyNetConfig, SkyNet20"/>
  </configSections>
  <appSettings>
    <add key="ProgramPath" value="~/SkyNet"/>
    <add key="LogPath" value="~/SkyNet/log"/>
    <add key="DefaultPort" value="26500"/>
    <add key="SecondaryPort" value="26501"/>
    <add key="TimeStampPort" value="26510"/>
    <add key="FileTransferPort" value="26520"/>
    <add key="FileIndexTransferPort" value="26530"/>
    <add key="HeartbeatInterval" value="600"/>
    <add key="HeartbeatPredecessors" value="2"/>
    <add key="HeartbeatSuccessors" value="2"/>
    <add key="HeartbeatTimeout" value="2000"/>
    <add key="GossipRoundInterval" value="750"/>
    <add key="GossipRoundTargets" value="2"/>
    <add key="SdfsPort" value="26505"/>
  </appSettings>

  <machines>
    <add hostname="fa17-cs425-g50-01.cs.illinois.edu" IsIntroducer="true"/>
    <add hostname="fa17-cs425-g50-02.cs.illinois.edu" IsIntroducer="true"/>
    <add hostname="fa17-cs425-g50-03.cs.illinois.edu" IsIntroducer="true"/>
    <add hostname="fa17-cs425-g50-04.cs.illinois.edu" IsIntroducer="true"/>
    <add hostname="fa17-cs425-g50-05.cs.illinois.edu" IsIntroducer="true"/>
  </machines>
</configuration>
