<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="machines"
             type="SkyNet20.Configuration.SkyNetConfig, SkyNet20"/>
  </configSections>
  <appSettings>
    <add key="ProgramPath" value="~/SkyNet"/>
    <add key="LogPath" value="~/SkyNet/log"/>
    <add key="DefaultPort" value="26500"/>
    <add key="HeartbeatInterval" value="-1"/>
    <add key="GossipRoundInterval" value="750"/>
    <add key="GossipRoundTargets" value="2"/>
  </appSettings>

  <machines>
    <add hostname="fa17-cs425-g50-01.cs.illinois.edu" IsIntroducer="true"/>
    <add hostname="fa17-cs425-g50-02.cs.illinois.edu" />
    <add hostname="fa17-cs425-g50-03.cs.illinois.edu" />
    <add hostname="fa17-cs425-g50-04.cs.illinois.edu" />
    <add hostname="fa17-cs425-g50-05.cs.illinois.edu" />
    <add hostname="fa17-cs425-g50-06.cs.illinois.edu" />
    <add hostname="fa17-cs425-g50-07.cs.illinois.edu" />
    <add hostname="fa17-cs425-g50-08.cs.illinois.edu" />
    <add hostname="fa17-cs425-g50-09.cs.illinois.edu" />
    <add hostname="fa17-cs425-g50-10.cs.illinois.edu" />
  </machines>
</configuration>
